<hr>
<div class="tweet">
	<%= image_tag(retweet.user.image_url, class: 'tweet-thumbnail') %>
	<div class="tweet-author">
    <strong><%= User.find(retweet.user_id).full_name %></strong>
	  <span class= "author-handle"> <%= link_to User.find(retweet.user_id).handle_at, User.find(retweet.user_id) %> </span>
	  <span class= "tweet-time-stamp", title=<%= retweet.updated_at.localtime.asctime.split.join('-') %>>
	   	<%= distance_of_time_in_words_to_now(retweet.updated_at, include_seconds = true) %>
	  </span>
	</div>

	<div class="tweet-content">
  	<div class="tweet-body">
  		<%=  retweet.content %>
  	</div>

  	<div class="retweeted-by">
      <% @user = User.find(retweet.poster_id)
  		<%=  link_to "Retweeted by #{@user.full_name}", @user %>
  	</div>

		<div class="tweet-footer">
  		<table>		  			
     		<td>
     			<% if ((current_user.id.to_i == retweet.poster_id.to_i) && (current_user.id.to_i != retweet.user_id.to_i))  %>
       			<%= link_to 'Un-Retweet', retweet, method: :delete, data: { confirm: 'Are you sure that you would like to un-retweet this tweet?' } %>		        			      		
	        <% elsif (current_user.id == retweet.user_id && current_user.id != retweet.poster_id)  %>
	        			<%= " "%>			        	    	        		
	        <% end %> 	        		
        </td>
      </table>
  	</div>
  </div>
</div>	