<%= simple_form_for @tweet, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :content, input_html: { maxlength: 140, value: "@#{reply_to}" } %>
  <%= f.hidden_field :is_reply, value: true %>
  <%= f.hidden_field :reply_id, value: params[:id] %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
