
<div class="tweet-list">
    
    <div class="tweet-author">
        <strong><%= tweet.user.full_name %></strong>
	    <span class= "author-handle"> <%= link_to tweet.user.handle_at, tweet.user %> </span>
	    <span class= "tweet-time-stamp"><%= tweet.time_since_tweet %></span>
	</div>

	<div class="tweet-content">
	  	
	  	<div class="tweet-body">
	  		<%=  tweet.content %>
	  	</div>
	  	
	  	<div class="tweet-footer">
	  		<table>	
	  			<!-- <td><%= link_to 'Show', tweet %></td> -->
        		<td>
	        		<% if current_user == tweet.user %>
	        			<%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you really robbing your words from the world?' } %>	
        				<!-- <%#= link_to 'Edit', edit_tweet_path(tweet) %>  -->
	        		<% end %> 
	        		
        		</td>
            </table>
	  	</div>
    </div>
</div>




	