<script type="text/javascript">  
        $(document).ready(function () {  
            $('.dropdown-toggle').dropdown();  
        });  
</script>

<div class="tweet">
	<%= image_tag(tweet.user.image_url, class: 'tweet-thumbnail') %>
    <div class="tweet-author">
      <strong><%= link_to tweet.user.full_name, tweet.user %></strong>
	    <span class= "author-handle"> <%= tweet.user.handle_at %> </span>
	    <span class= "tweet-time-stamp", title=<%= tweet.updated_at.localtime.asctime.split.join('-') %>>
	    	<%= distance_of_time_in_words_to_now(tweet.updated_at, include_seconds = true) %>
	    </span>
	    	<% if current_user.favorites.include?(tweet) %>
	    		<span class="favorite-tag">F</span>
	    	<% end %>
		</div>

		<div class="tweet-content">
	  	<div class="tweet-body">
	  		<% @all_mentions = tweet.all_mentions_in_tweet %>
	  		<% @all_hashes = tweet.all_hashes_in_tweet %>
	  		<% tweet.content.split(' ').each do |word| %>
	  			<% if @all_mentions.include? word %>
	  				<% @user = User.where(handle: word[1..-1]).first %>
	  				<%= link_to word, @user, class: "mention" %>
	  			<% elsif @all_hashes.include? word %>
	  				<%= link_to word, hash_path(word), class: "hashes" %>
	  			<% else %>
	  				<%= word %>
	  			<% end %>
	  		<% end %>
	  	</div>
	 
	  	<div>
	  		<% if tweet.is_retweet %>
	  			<%= "Retweeted by #{User.find(tweet.poster_id).full_name}" %>
	  		<% end %>
	  	</div>

	  	<div class="tweet-footer">
	  		<%= render 'tweets/tweet_footer', :tweet => tweet %>
	  	</div>
    </div>
</div>
