	<div class="tweet-list">
	  <div class="tweet-author">
	  	  <%= tweet.user.full_name %>
	      <%= link_to tweet.user.handle_at, tweet.user %>
	      <%= tweet.time_since_tweet %>
	  </div>
	  <div class="tweet-content">
	  	<div class="tweet-body">
	  		<%= tweet.content %>
	  	</div>
	  	<div class="tweet-footer">
	  		<table>
	  			<td><%= link_to 'Show', tweet %></td>
        		<td>
	        		<% if current_user == tweet.user %>
	        		<%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you really robbing your words from the world?' } %>	
        			<!-- <%= link_to 'Edit', edit_tweet_path(tweet) %>  -->
	        		<% end %> 
        		</td>
            </table>
	  	</div>
	  </div>

	</div>

<!-- Note: simple_format doesn't seem to allow tags through? -->