<hr>
<div class="tweet">
	<%= image_tag(tweet.user.image_url, class: 'tweet-thumbnail') %>
    <div class="tweet-author">
        <strong><%= tweet.user.full_name %></strong>
	    <span class= "author-handle"> <%= link_to tweet.user.handle_at, tweet.user %> </span>
	    <span class= "tweet-time-stamp", title=<%= tweet.created_at.localtime.asctime.split.join('-') %>>
	    	<%= distance_of_time_in_words_to_now(tweet.created_at, include_seconds = true) %>
	    </span>
	</div>

	<div class="tweet-content">
	  	
	  	<div class="tweet-body">
	  		<% @all_mentions = tweet.all_mentions_in_tweet %>
	  		<% @all_hashes = tweet.all_hashes_in_tweet %>
	  		<% tweet.content.split(' ').each do |word| %>
	  			<% if @all_mentions.include? word %>
	  				<% @user = User.where(handle: word[1..-1]).first %>
	  				<%= link_to @user.handle_at, @user, class: "mention" %>
	  			<% elsif @all_hashes.include? word %>
	  				<%= link_to word, hash_path(word), class: "hashes" %>
	  			<% else %>
	  				<%= word %>
	  			<% end %>
	  		<% end %>
	  	</div>
	 
	  	<div>
	  		<% if tweet.is_retweet %>
	  			<%= "Retweeted by #{User.find(tweet.poster_id).full_name}" %>
	  		<% end %>
	  	</div>

	  	<div class="tweet-footer">
	  		<table>	
        		<td>
        			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        				<li><% "This tweet has been favorited #{tweet.favorited_by.count} times." %></li>
        				<li><% "This tweet has been retweeted #{tweet.retweets.count} times." %></li>
        				<% tweet.replies.each do |post| %>
        					<li><%= render post %></l1>
        				<% end %>
        			</ul>

	        		<% if current_user != tweet.user %> 
	        			<% if current_user.favorites.exclude?(@tweet) %>
	        				<%= link_to 'Favorite', favorite_tweet_path(@tweet, id: tweet.id, type: "favorite", method: :put) %>
	        			<% else %>
	        				<%= link_to 'Un-Favorite', favorite_tweet_path(@tweet, type: "unfavorite", method: :put) %>
	        			<% end %>
	        		<% end %>
	        		
	        		<% if (current_user != tweet.user) %>
	        			<%= link_to 'Reply', reply_path(tweet) %>	
	        		<% end %> 

	        		<% if (current_user != tweet.user) %>
	        			<%= link_to 'Retweet', retweet_path(tweet) %>	
	        		<% end %> 

	        		<% if (current_user != tweet.user && tweet.is_retweet == true) %>
	        			<%= link_to 'Un-Retweet', tweet, method: :delete, data: { confirm: 'Are you sure that you would like to un-retweet this tweet?' } %>
	        		<% end %> 

	        		<% if current_user == tweet.user %>
	        			<%= link_to 'Delete', tweet, method: :delete, data: { confirm: 'Are you really robbing your words from the world?' } %>	
	        		<% end %> 
        		</td>
            </table>
	  	</div>
    </div>
</div>
