<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Netid</th>
      <th>Handle</th>
      <th>Biography</th>
      <th>Current location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.netid %></td>
        <td><%= user.handle %></td>
        <td><%= user.biography %></td>
        <td><%= user.current_location %></td>
        <td><%= link_to 'Show Tweets', user %></td>
        <td><%= link_to 'Edit Profile', edit_user_path(user) %></td>
        <td><%= link_to 'Delete Profile', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign up!', new_user_path %>
