
<div class="list-of-users" style= "margin-left: 300px;">
<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Handle</th>
      <th>Biography</th>
      <th>Current location</th>
      <th></th>
    </tr>
  </thead>

  <tbody class='users'>
    <% @users = User.where(netid: session[:cas_user]) %>
    <% @users.each do |user| %>

      <tr class=<%= user.id == session[:current_account] ? 'current' : 'others' %>>
        <td><%= "*" if user.default %></td>
        <td>
          <%= image_tag(user.image_url, class: 'list-image') %>
        </td>
        <td><%= user.full_name %></td>
        <td><%= link_to user.handle_at, user %></td>
        <td><%= user.biography %></td>
        <td><%= user.current_location %></td>
        <td><%= link_to 'Switch To', switch_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% if @users.length > 1 && user.default %>
              <%= link_to 'Delete', users_path, data: 
              { confirm: 'You must choose a new default account if you wish to delete this account.'} %>
          <% else %>
            <%= link_to 'Delete', user, method: :delete, class: :destroy, data: 
                { confirm: 'Warning: This will permanently delete your profile and tweets.' } %>
          <% end %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add another!', new_user_path %>
</div>
