<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2><%= @user.handle %></h2>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Tweets:</b> <%= @user.tweets.count %></span>
    </section>
    <section>
      <%= render 'stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @tweets.any? %>
      <ul>
       <%= render @tweets %>
      </ul>
    <% end %>
  </div>
</div>