<p id="notice"><%= notice %></p>

<div class="row">	
	<div class="user-sidebar">
		<div class="span2">
			<%= render 'stats' %>
			<% if @user == current_user %>
				<%= render '/tweets/form' %>
			<% end %>
		</div>
	</div>
	<div class="user-content">
		<div class="span9">
			<div class= "user-profile-info">
				<%= image_tag(@user.image_url ||= "Default_Pics/#{@user.college.downcase}.png", class: 'profile-pic') %>
				<h1><%= @user.full_name %></h1>
				<h2><%= @user.handle_at %></h2>
				<h5><%= @user.biography if @user.biography %></h5>
				<h5><%= @user.current_location if @user.current_location %></h5><br>
				<div>
					<%= render 'follow_form' if params[:id] != current_user.id %>
				</div>
			</div>

			<%= render 'stream' %>

			<div id='no-tweets-yet'>
				<% if @user.tweets.count == 0 and @user.retweets.count == 0 %>
					<% if @user == current_user %>
						<%= "You should start tweeting! You are depriving the world of your precious thoughts!" %>
					<% else %>
						<%= "#{@user.first_name}" + " #{@user.last_name} has no tweets. Come back soon! Or not." %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>