<p id="notice"><%= notice %></p>

<h1><%= @user.full_name %></h1>

<div class="span8">
	<%= render 'follow_form' %>
</div>

<div><%= render @user.tweets.reverse %></div>


<div> </div>

<!-- this is where we include a loop to display those followed, or a link to the follower page -->

<!-- how do we get the user's followers to show up here? We probably add them all to an array? -->

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete', @user, method: :delete, 
	data: { confirm: 'Warning: This will permanently delete your account
		and all of your tweets.' } %> |
<% end %>
<%= link_to 'Back', users_path %>

<% @user ||= current_user %>

<div> <a href ="<%= following_user_path(@user) %>">Following <%= @user.followed_users.count %> </a> </div>

<div> <a href ="<%= followers_user_path(@user) %>">Followed By <%= @user.followers.count %> </a> </div>