<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="followers">
          <%= image_tag(user.image_url, class: 'tweet-thumbnail') %>
          <div class="name"><%= user.full_name %></div>
          <div class="info">
            <%= link_to "@#{user.handle}", user %><br>
            <%= user.current_location %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>