<!DOCTYPE html>
<html>
<head>
  <title>Fwitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <%= link_to image_tag("yalelogo2.png"), new_tweet_path, class: "brand" %>
      <% if current_user(false) %>
      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse">
			<ul class="nav">
			  <li>
			  	<%= link_to "#{current_user.first_name}", 
			  	    user_path(current_user) %>
			  </li>
			  <li><%= link_to 'Stream', tweets_path %></li>
			  <li><%= link_to '@', mentions_user_path(current_user) %></li>
			  <li><%= link_to 'Accounts', users_path %> </li>
			  <li><%= link_to "Logout", log_out_path %></li>
			</ul> 
	      </div>
      <% else %>      	
      	<li><%= link_to "Log In", log_in_path %></li>
      <% end %>
      <div class="time">
		<% if current_user(false) %>
		  <% t = Time.now.localtime %>
		  <% h = (t.hour)%24 %>
		  <% m = t.min %>
		  <% m = "0" + m.to_s if m < 10 %>
		  <% am_or_pm = "AM" %>
		  <% am_or_pm = "PM" if h >= 12 %>
		  <% h = 12 if h == 0 %>
		  <% h = h - 12 if h > 12 %>
		  <%= "#{h}:#{m}#{am_or_pm}" %>
		<% end %>
	</div>
 
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="span12"><%= yield %></div>
	</div>
</div>

</body>
</html>
