<!DOCTYPE html>
<html>
<head>
  <title>Fwitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<% if current_user(false) %>
			<div id="user_info">
				<h1><%= link_to 'FWITTER', root_path %></h1>
				Welcome to Fwitter, <%= current_user.first_name %><br>




				<%= link_to "Check out your Mentions Page", mentions_user_path(current_user)  %> 





				<% t = Time.now.localtime %>

				<% h = (t.hour)%24 %>
				<% m = t.min %>


				<% m = "0" + m.to_s if m < 10 %>
				<% am_or_pm = "AM" %>
				<% am_or_pm = "PM" if h > 12 %>
				<% h = h - 12 if h > 12 %>
				<%= "It is #{h}:#{m}#{am_or_pm} at Yale" %>

				<br>
				<h2><%= link_to 'FEED', tweets_path %></h2>
				<%= link_to image_tag("yalelogo.jpg"), new_tweet_path %>
			</div>
			<div id="logout">
			<%= link_to "Log Out", log_out_path %>
			</div>
		<% end %>
	</div>

<%= yield %>

</body>
</html>
