<!DOCTYPE html>
<html>

<head>
  <title>Fwitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
  <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>  
  <script type="text/javascript">  
        $(document).ready(function () {  
            $('.dropdown-toggle').dropdown();  
        });  
  </script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
      	<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<!-- 	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
 -->	      </a>
	      
	 	  <% if current_user(false) %>
					<ul class="nav">
					  <li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
					  <li><%= link_to 'Stream', tweets_path %></li>
					  <li><%= link_to '@', notifications_user_path(current_user) %></li>  
					</ul>
					<div class="nav" style="float:right;">
						<div class="dropdown" style="display:inline-block;margin-right:50px;">
	        				<a class="dropdown-toggle" close-on-click="false" data-toggle="dropdown" href="#"><%= image_tag("yalelogo4.png")%></a>
			       				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li><%= render '/tweets/form' %></li>
								</ul>
							</li>
						</div>
						<div class="dropdown" style="display:inline-block;">
	        				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= image_tag("Slthytove_Gears.png")%></a>
			       				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
									<li><%= link_to 'Accounts', users_path %> </li>
									<li><%= link_to "Logout", log_out_path %></li>
								</ul>
							</li>
						</div>
					</div>
				</div>
	      
    	</div>
  	</div>
	</div>

		<% if @have_sidebar %>
			<div class="trending" style="position:fixed; margin-top:40px; margin-left: 1000px;">
				<br><br><strong> Trending Right Now </strong><br>
				<% trending_hashes = current_user.hash_count(4) %>
				<% trending_hashes.each do |trending_hash| %>
					<%= link_to trending_hash, hash_path(trending_hash)%><br> 
				<% end %>
				<%  trending_mentions = current_user.mention_count(4) %>
				<% trending_mentions.each do |trending_mention| %>
					<% @user = User.where(handle: trending_mention[1,trending_mention.length]).first %>
					<%= link_to trending_mention, @user %><br> 
				<% end %>
			</div>
		<% end %>
	<% end %>

	<div class="container">
		<div id = "background-color">
			<div class="row">
				<div class="span12"><%= yield %></div>
			</div>
		</div>
	</div>

<script type="text/javascript">
$('.dropdown-menu').on('click', function (e) {
e.stopPropagation()
});</script>

</body>
</html>
