<!DOCTYPE html>
<html>

<head>
  <title>Fwitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
  <script type="text/javascript" src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-dropdown.js"></script>  
  <script type="text/javascript">  
        $(document).ready(function () {  
            $('.dropdown-toggle').dropdown();  
        });  
  </script>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
      	<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      
	 	  	<% if current_user(false) %>
	      	<%= link_to image_tag("yalelogo4.png"), new_tweet_path, class: "brand" %>
		      <div class="nav-collapse">
						<ul class="nav">
						  <li><%= link_to "#{current_user.first_name}", user_path(current_user) %></li>
						  <li><%= link_to 'Stream', tweets_path %></li>
						  <li><%= link_to '@', mentions_user_path(current_user) %></li>
						  <li><%= link_to 'Accounts', users_path %> </li>  
						 			<!--  render 'form_search -->
						  <li><%= link_to "Logout", log_out_path %></li>
						</ul> 
		      </div>
	      <% end %>
    	</div>
  	</div>
	</div>

	<div class="container">
		<div id = "background-color">
			<div class="row">
				<div class="span12"><%= yield %></div>
			</div>
		</div>
	</div>

</body>
</html>